.no-dots{list-style-type: none;}
.w50px{width:50px}
.heightWebk{height: -webkit-fill-available}
.hearing-test-padding{padding: 75px 0px 150px 0px;}
.banner-text{top: 130px;}
.customBlue{background: rgba(0, 147, 208, 0.5)}
.InputContactBorder{border: 2px solid rgba(1, 1, 1, 0.02)}
.boxShadow{box-shadow: 0px 0px 30px 5px rgba(128, 168, 195, 0.41);}
.article-row{ margin: 80px 0px 10px 0px;}
p{vertical-align:center; bottom: 0px!important;}
